<%- include('../../../../app/views/shared/header') %>
<%- include('../../../../app/views/shared/simple_nav') %>
<% 
  // console.log(locals) 
/* console.log(locals) */ 
%>
  <main>
    <article>
        <% if(locals.notification){%>
          <section>
            <input value="<%- locals.notification %>" disabled readonly style="width: 100%; font-size: 120%; margin: 0rem 0rem 1rem; padding: 1rem; background: whitesmoke; box-sizing: border-box; border: 1px solid lightgray;"/>
          </section> 
        <%}%>
        <section>
          <h3>Multi-factor Authentication</h3>
        </section>
        <section>
          <p>Scan this QR Code in <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">Google Authenticator</a></p>
          <!--<p>
            <%- svg_string %>
          </p>-->
          <p>
            <img width="100%" src="<%- qrImage %>"/>
          </p>
        </section>
        <section>
          <p>- or enter this key manually -</p>
          <p><b><%- encodedKey %></b></p>
        </section>
        <section>
          <p>Once you've added your MFA Token, continue to login</p>
          <a href="<%- adminPostRoute %>" class="ts-button ts-text-lg ts-button-accent-color ">Multi-factor login</a>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>