<%- include('../../../../app/views/shared/header') %>
<%- include('../../../../app/views/shared/simple_nav') %>
<% 
//  console.log(locals) 
/* console.log(locals) */ 
%>
  <main>
    <article>
        <section>
          <h3>Sign In With Authentication Device</h3>
        </section>
        <section>
          <form action="<%- adminPostRoute %>" method="post" autocomplete="off" >
            <input type="hidden" name="_csrf" value="<%- token %>"/>
            <input type="hidden" name="entitytype" value="<%- entityType %>"/>
            <section>
              <label class="ts-label"> Authentication Code: </label>
              <!--<a style="font-size:90%" href="/extensions/periodicjs.ext.passport_mfa/img/ga-example.jpg">(example)</a>-->
            </section>
              <input type="text" name="code" id="mfa-code-input" class="ts-col-span12" maxlength="6" placeholder="000000" autocomplete="off" autofocus />
            <section>
            </section>
            <section>
              <button type="submit" name="submit" style="justify-content: center">
                <i class="icon-ok icon-white"></i> Login with MFA Device
              </button>
            </section>
            <section>
              <p>If you do not have a MFA token, please setup a new device. 
              <a style="justify-content: center" href="<%- mfaSetupPage %>">MFA Device Setup</a>
              </p>
            </section>
          </form>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>